body { background: #ed9a67; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 11px; display: flex; }
.block-notify-0 { color: #ee97df; font-size: 19px; margin-bottom: 5px; }
.block-metrics-1 { color: #42836c; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #b251b7; font-size: 16px; margin-bottom: 5px; }
.block-uploader-3 { color: #269586; font-size: 19px; margin-bottom: 5px; }
.block-cart-4 { color: #fa9641; font-size: 21px; margin-bottom: 5px; }
.block-router-5 { color: #7f8329; font-size: 21px; margin-bottom: 5px; }
.block-metrics-6 { color: #22e82c; font-size: 20px; margin-bottom: 5px; }